block footer
  footer.footer
    .footer__contact
      img(src="images/logo.svg", alt="logo enterprice").footer__contact-logo
      img(src="images/icon-phone.svg", alt="icon phone").footer__icon
      p Phone:+1-543-123-4567
      img(src="images/icon-email.svg", alt="icon email").footer__icon
      p example@fylo.com
    .footer__list-one
      ul
        li
          a(href="#") About Us
        li
          a(href="#") Jobs
        li
          a(href="#") Press
        li
          a(href="#") Blog
    .footer__list-two
      ul
        li
          a(href="#") Contact Us
        li
          a(href="#") Terms
        li
          a(href="#") Privacy
    .footer__social
      i.fab.fa-facebook.icon
      i.fab.fa-twitter.icon
      i.fab.fa-instagram.icon
