block header
  header.header
    nav.header__navbar
      img(src="images/logo.svg", alt="logo").header__navbar-logo
      ul.header__navbar-menu
        li.header__navbar-menu-item
          a(href="#").header__navbar-menu-link Features
        li.header__navbar-menu-item
          a(href="#").header__navbar-menu-link Team
        li.header__navbar-menu-item
          a(href="#").header__navbar-menu-link Sing In
    .banner
      .banner__img
        img(src="images/illustration-1.svg", alt="imagen banner")
      .banner__description
        h1.banner__principal-title All your files in one secure location, accessible anywhere.
        p.banner__text Fyle stores your most important files in one secure location. Access them wherever you need, share and collaborate with friends, family, and co-workers.
        form(action="#").banner__form
          label(for="email")
          input(type="email", name="email", id="email" placeholder="Enter your email").banner__form-input
          input(type="submit", value="Get Started").banner__form-submit
  