// Fuente para los titulos, call to actions y el header de navegacion
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
$main-title:'Raleway';
$big-title: 700;
$regular-title: 400;

// fuente para el body
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
$main-font:'Open Sans';
$font-regular: 400;